h1 {
    color: rgb(240, 244, 245);
    background: rgb(82, 116, 196);
    width: 100vw;
    font-size: 25px;
    font-weight: bold;
    width: 100vw;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}


h2 {
    color: white;
    font-weight: normal;
    font-size: 15px;
    padding: 0px;
    gap: 0px;
}
.inputContainer {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(240, 244, 245);
    font-size: 15px;
   
}

.scrapeButton {
    margin-top: 24px; 
    padding: 8px 16px;       /* optional für eine bessere Optik */
    background-color: rgb(82, 116, 196);/* optional, wenn du schwarzen Hintergrund willst */
    color: white;            /* optional, weiße Textfarbe */
    border-radius: 5px;      /* abgerundete Ecken */
    cursor: pointer;        /* Cursor ändert sich bei Hover */
    width: 30vw;
  }
  


.footer {
    position: fixed;     /* bleibt fixiert am Bildschirmrand */
    bottom: 0;           /* ganz unten */
    left: 0;             /* ganz links */
    padding: 10px;       /* optionaler Innenabstand */
    color: #fff;         /* Textfarbe weiß (optional) */
    font-size: 14px;     /* Schriftgröße (optional) */
    z-index: 100;        /* Damit es über anderen Elementen steht */
  }
  
