.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.buttonContainer button {
  font-size: 15px;
  color: white;
  background-color: blue;
  cursor: pointer;
  width: 15vw;
}
