
.username{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    width: 30vw;

}

.enterEmail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    width: 30vw;
}

.createPassword{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    width: 30vw;
}


.confirmPassword{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    width: 30vw;
   
}


.signupButton {
    margin-top: 24px; 
    padding: 8px 16px;       
    background-color: rgb(82, 116, 196);
    color: white;            
    border-radius: 5px;      
    cursor: pointer;        
    width: 30vw;
}
